<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="f">
        {% for i in data.y %}
        <div><img src="{{ i[1] }}" alt="{{ i[2] }}" height="200px" width="155px"> <!-- Фото товара --></div>
        <h2>{{ i[2] }}</h2> <!-- Название товара -->
        <p>{{ i[6] }}</p> <!-- Описание товара -->
        <p>Цена: {{ i[3] }}</p> <!-- Цена товара -->
        {% endfor %}
    </div>
    <br>
    <form action="/orderplur" method="POST">
        <input type="tel" placeholder="Телефон" name="tel" required><br><br>
        <input type="text" placeholder="Адрес" name="adress"><br><br>   
        <input type="text" placeholder="Карта" name="paycard"><br><br>
        <input type="hidden" name="id" value="{{ data.x }}">
        <button type="submit">Заказать</button><br>
    </form>
</body>
</html>