<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/1.css"></head>
<body>
    <h1>{{ data.name }}</h1>
    <div class="a">
        <div>
            <img src='{{ data.photo }}' width="500" height="500">
            <br>
        </div>
        <div>
            {{ data.prise }}
            <br>
            <button>КУПИТЬ</button> /tovar/1   /tovar/2  /tovar/3
        </div>
    </div>
    {{ data.description }}
</body>
</html>