<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    Регистрация на наш сайт:
    <form action="/regg" method="POST">
        <input type="name" placeholder="Логин" name="username" required><br><br>
        <input type="password" placeholder="Пароль" name="password" required><br><br>
        <input type="text" placeholder="Имя" name="name" required><br><br>
        <input type="text" placeholder="Фамилия" name="surname" required><br><br>
        <input type="tel" placeholder="Телефон" name="tel" required><br><br>
        <input type="text" placeholder="Город" name="city" required><br><br>
        <input type="text" placeholder="Фото профиля" name="photo"><br><br>
        <button type="text">Зарегистрироваться</button><br>
    Вы уже зарегистрирваны? Тогда вам сюда - -><a href='/r'>Войти в свой аккаунт</a>
    </form>
</body>
</html>